/* Styles for stats page */
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
   min-height: 100%;
   overflow-y: auto;
   width: 100%;
 }
 
 .contentWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
   width: 100%;
   max-width: 1152px;
   z-index: 1;
 }

.sectionTitle {
   font-size: 30px;
   padding: 20px 0;
   margin-left: 450px;
   color: white;
   font-family: 'Lato-Bold', sans-serif;
}

.importTitle {
   font-size: 30px;
   padding: 20px 0;
   color: white;
   font-family: 'Lato-Bold', sans-serif;
}
 
.cardContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   padding: 32px;
   background-color: #1a1a1a;
   border: 5px solid;
   border-top-color: #0eaa45;
   border-left-color: #0eaa45;
   border-right-color: #0a7434;
   border-bottom-color: #0a7434;
   border-radius: 10px;
   gap: 16px; /* Add consistent gap between items */
}

.webPlaybackContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 100%;
}

 
.cardItem {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0 16px;
   width: calc(20% - 16px); /* Account for gap and padding */
   box-sizing: border-box;
   min-width: 160px; /* Minimum width before wrapping */
}
 
.cardAlbumImage {
   width: 150px;
   height: 150px;
   object-fit: cover;
   border-radius: 8px;
}
 
.cardArtistImage {
   border-radius: 50%;
   object-fit: cover;
}
 
.cardTitle {
   font-size: 20px;
   padding: 10px 0;
   color: white;
   font-family: 'Lato-Bold', sans-serif;
   text-align: center;
}
 
.cardSubtitle {
   font-size: 20px;
   padding: 10px 0;
   color: white;
   font-family: 'Lato-Bold', sans-serif;
   text-align: center;
}
 
.cardDetail {
   font-size: 20px;
   padding: 10px 0;
   color: white;
   font-family: 'Lato-Bold', sans-serif;
   text-align: center;
}

 .dropdownContainer {
   display: flex;
   justify-content: center;
   width: 100%;
   margin-top: 100px;
   margin-bottom: 40px;
   gap: 16px;
 }

 .loadingContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 50vh;
   font-size: 24px;
   color: white;
   font-family: 'Lato-Bold', sans-serif;
 }

 .displayTitle {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin-top: 40px;
 }