/* Styles for stats page */
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
   min-height: 100%;
   overflow-y: auto;
   width: 100%;
 }
 
 .contentWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 30px;
   width: 100%;
   max-width: 1152px;
   z-index: 1;
 }

.sectionTitle {
   font-size: 30px;
   padding: 20px 0;
   color: white;
   width: 100%;
   font-family: 'Lato-Bold', sans-serif;
   position:relative;
   text-align: center;
}

.lifetimeTitle {
   font-size: 30px;
   padding: 20px 0;
   color: white;
   width: 100%;
   margin-left: 100px;
   font-family: 'Lato-Bold', sans-serif;
   position:relative;
   text-align: center;
}

.sectionTitle {
   left: 7%;
}

.importTitle {
   font-size: 30px;
   padding: 20px 0;
   color: white;
   font-family: 'Lato-Bold', sans-serif;
}
 
.cardContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   padding: 16px;
   background-color: #1a1a1a;
   border: 5px solid;
   border-top-color: #0eaa45;
   border-left-color: #0eaa45;
   border-right-color: #0a7434;
   border-bottom-color: #0a7434;
   border-radius: 10px;
   gap: 16px; /* Add consistent gap between items */
   width: 100%;
   /* background-color: #0a7434; */
}

.webPlaybackContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 100%;
   min-height: 250px;
}

 .dropdownContainer {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   margin-bottom: 45px;
   gap: 16px;
 }
 
.cardItem {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   width: calc(20% - 30px); /* Account for gap and padding */
   box-sizing: border-box;
   min-width: 180px; /* Minimum width before wrapping */
   background-color: #277c6d0b;
   border: 1px solid #2a3d32;
   border-radius: 5px;
}
 
.cardAlbumImage, .cardArtistImage {
   width: 160px;
   height: 160px;
   object-fit: cover;
}

.cardAlbumImage {
   border-radius: 8px;
}

.cardArtistImage {
   border-radius: 50%;
}
 
.cardTitle {
   height: 70px;
   font-size: 20px;
   padding: 10px 0;
   color: white;
   font-family: 'Lato-Bold', sans-serif;
   text-align: center;
   width: 128%;
   /* background-color:#aa930e; */
}
 
.cardSubtitle {
   height: 80px;
   width: 128%;
   font-size: 20px;
   padding: 10px 0;
   color: white;
   margin-top: 16px;
   font-family: 'Lato-Bold', sans-serif;
   text-align: center;
   /* background-color: rgb(19, 20, 22); */
}

.cardDetail {
   width: 100%;
   font-size: 20px;
   padding: 16px 0;
   color: white;
   font-family: 'Lato-Bold', sans-serif;
   text-align: center;
   /* background-color: rgb(47, 67, 107); */
}

 .loadingContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 50vh;
   font-size: 24px;
   color: white;
   font-family: 'Lato-Bold', sans-serif;
 }

 .displayTitle {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   width: 100%;
   margin-top: 40px;
   margin: 30px;
 }

 .statsContainer {
   display: flex;
   justify-content: center;
   width: 100%;
   gap: 16px;
 }
 
 .statItem {
   color: white;
   font-size: 16px;
   font-family: 'Lato-Bold', sans-serif;
   text-align: center;
 }