/* Styles for layout, including header */
.header {
   background-color: #1a1a1a;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
   width: 100%;
   margin: 0;
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   padding-left: 25px;
}

.logoContainer {
   display: flex;
   align-items: center;
   text-decoration: none;
}

.logoImage {
   margin-left: 50px;
}

.logoText {
   padding: 0 10px;
   font-size: 24px;
   font-weight: bold;
   color: white;
   font-family: 'Lato-Bold', Arial, sans-serif;
}

.logoText:hover {
   color:#0eaa45;
}

.navContainer {
   margin-right: 40px;
}

.html {
   margin: 0;
   padding: 0;
   height: 100%;
   overflow-x: hidden;
}

.body {
   margin: 0;
   padding: 0;
   min-height: 100%;
   overflow-x: hidden;
}

.main {
   padding: 0;
   margin: 0;
   width: 100%;
}

.featuresContainer {
   margin-top: 3rem;
   display: flex;
   flex-direction: column;
   max-width: 700px;
   margin-left: auto;
   margin-right: auto;
}

.featureItem {
   display: flex;
   align-items: flex-start;
   gap: 1rem;
   margin-bottom: 5rem;
}

.featureIcon {
   color: #1ED760;
   min-width: 40px;
}

.featureTitle {
   margin: 0;
   font-size: 1.25rem;
   font-weight: bold;
}

.featureDesc {
   margin: 0.25rem 0 0;
   color: #ccc;
}