/* Styles for layout, including header */
.header {
   background-color: #1a1a1a;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
   width: 100%;
   margin: 0;
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   padding-left: 25px;
}
 
.logoContainer {
   display: flex;
   align-items: center;
   text-decoration: none;
}

.logoImage {
   margin-left: 50px;
}

.logoText {
   padding: 0 10px;
   font-size: 25px;
   font-weight: bold;
   color: white;
   font-family: 'Lato-Bold', Arial, sans-serif;
}

.logoText:hover {
   color:#0eaa45;
}

.navContainer {
   margin-right: 40px;
}

.navLink {
   margin-right: 40px;
   font-size: 25px;
   font-weight: bold;
   color: white;
   font-family: 'Lato-Bold', Arial, sans-serif;
   text-decoration: none;
   display: inline-block;
   text-align: center;
   min-width: 100px;
}
.navLink:hover {
   color:#0eaa45;
}

.html {
   margin: 0;
   padding: 0;
   height: 100%;
   overflow-x: hidden;
}

.body {
   margin: 0;
   padding: 0;
   min-height: 100%;
   overflow-x: hidden;
}

.main {
   padding: 0;
   margin: 0;
   width: 100%;
}