/* Stles for landing page content */

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem 1rem;
   width: 100%;
   max-width: 100%;
 }
 
 .welcomeText {
   font-size: 1.25rem;
   color: white;
   margin-top: 2rem;
   max-width: 42rem;
   text-align: center;
 }

 .featureIcon {
   /* background-color: beige; */
   margin-top: 16px;
   color: #0eaa45;
 }

 .featureTitle {
   /* background-color: blue; */
   padding: 0 10px;
   font-size: 20px;
   font-weight: bold;
   color: white;
   font-family: 'Lato-Bold', Arial, sans-serif;
 }

 .featureDesc {
   /* background-color: blueviolet; */
   padding: 0 10px;
   font-size: 20px;
   font-weight: bold;
   color: white;
   font-family: 'Lato-Bold', Arial, sans-serif;
 }