/* Styling for Buttons */

/* Base class that defines styles common to all buttons */
.button {
   border: none;
   border-radius: 15px;
   padding: 12px 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   font-family: "Lato-Bold", sans-serif;
   color: #fff;
   cursor: pointer;
   z-index: 10;
}

.button.primaryLogin:hover {
   background-color: #0c8a3e;
}

.button.primaryLogout:hover {
   background-color: #0c8a3e;
}

.button.danger:hover {
   background-color: #962013;
}

/* Helps with multiple buttons */
.buttonsContainer {
   display: flex;
   flex-direction: row;
   gap: 20px;
}
 
 /* Styles specific to default button (login/logout) */
.primaryLogout {
   min-width: 200px;
   background-color: #0eaa45;
}
 
.primaryLogout:active {
   background-color: #0c8a3e;
}

.primaryLogin {
   margin-right: 50px;
   background-color: #0eaa45;
}
 
.primaryLogin:active {
   background-color: #0c8a3e;
}
 
 /* Styles specific to destructive buttons (delete account) */
.danger {
   min-width: 200px;
   background-color: #b62919;
}
 
.danger:active {
   background-color: #c0392b;
}

.secondary {
   min-width: 200px;
   background-color: #555;
   color: white;
}

.secondary:hover {
   background-color: #666;
}

.secondary:active {
   background-color: #444;
}

.secondary:disabled {
   background-color: #333;
   cursor: not-allowed;
}