/* Styles for the ShowAllButton component */

.container {
   position: relative;
   width: 150px;
   z-index: 10;
   margin-top: 16px;
 }
 
 .selector {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 8px 12px;
   background-color: #1a1a1a;
   border-top-color: #0c8a3e;
   border-left-color: #0c8a3e;
   border-right-color: #0eaa45;
   border-bottom-color: #0eaa45;
   border-radius: 8px;
   color: white;
   font-family: 'Lato-Bold', sans-serif;
   font-size: 14px;
   cursor: pointer;
 }
 
 .selector:hover {
   background-color: #222;
 }